{% load static %}
{% load staticfiles %}
{% load i18n %}


<script id="match-control-template" type="text/x-template">
  <div>
	<div class="game-description"
  v-bind:style="{color: real_color}">
		[[header_label]]
	</div>
  <form v-bind:action="action_url" method="post">
	<div v-if="is_landing" class="landing-options">
		<img v-bind:src="scissors_link" alt="scissors">
		<img v-bind:src="rock_link" alt="rock">
		<img v-bind:src="paper_link" alt="paper">
	</div>
	<div v-if="is_form" class="landing-options">
		<select v-model="choice" v-on:change="choice_handler" style="margin:auto;">
      <option value="1">{% trans "Tijeras" %}</option>
      <option selected="selected" value="2">{% trans "Piedra" %}</option>
      <option value="3">{% trans "Papel" %}</option>
    </select>
	</div>
	<div class="action-buttons">
		<button id="initial_start_button"
    type="button" name="initial_start_button"
		v-bind:style="{color: real_color}"
    v-on:click="swap_state($event)">
		[[button_label]]
		</button>
  </div>
  </form>
	</div>
</script>


<script id="player-form-name-template" type="text/x-template">
  <div id="player-form-name" class="game-description">
		<form class="" method="post">
			<div class="player-form-name-title"
      v-bind:style="{color: real_color}">{% trans "introduce your name" %}</div>
			<input type="text" name="playerName" v-bind:value="playerName"
      v-bind:style='{color: real_color, border: "3px solid " + real_color}' >
			<button name="save-user-button"
			v-bind:style="{color: real_color}"
      v-on:click="swap_color($event)">{% trans "Ready!!" %}</button>
		</form>
	</div>
</script>


<script id="score-button-template" type="text/x-template">
  <div class="score-cell">
    <img v-bind:src="img_url" alt="color">
    <span><slot></slot></span>
  </div>
</script>


<script id="scores-bar-template" type="text/x-template">
  <div class="score-bar">
    <slot></slot>
  </div>
</script>
