{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block custom_styles %}{% endblock custom_styles %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
  <script src="{% static "vendor/vue.min.js" %}" charset="utf-8"></script>
  {% block custom_js %}{% endblock custom_js %}
</html>
