{% extends "_base_template.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}

{% block page_title %}{% trans "play jajanken" %}{% endblock page_title %}
{% block custom_styles %}
  <link rel="stylesheet" href="{% static "css/app.css" %}">
{% endblock %}

{% block content %}
<div id="app" class="full-container">
  {# header block #}
  <div class="header-container">
    <div class="game-name">
      <a href="{% url 'jajanken' %}">jajanken</a>
    </div>
    <div class="header-button-bar">
      <a href="{% url 'scores' %}" class="scores-link header-link"> <img src="{% static 'img/ranking.svg' %}" alt=""></a>
    </div>
  </div>
  {# game block #}
  <div class="game-container">
    <div v-show="scores_enabled" class="score-bar">
      <div class="score-cell">
        <img src="{% static "img/rock-red.svg" %}" alt="">
        <span>[[scores.red]]</span>
      </div>
      <div class="score-cell">
        <img src="{% static "img/rock-blue.svg" %}" alt="">
        <span>[[scores.blue]]</span>
      </div>
    </div>
    <match-control v-show="move_component_shown"
    v-bind:color="color_name+'move'"
    :key="color_name+'move'"
    v-on:swap_color="on_swap_method"
    header_label="{% trans "Make your move!!" %}"
    button_label="{% trans "GO!" %}"
    scissors="{% static "img/scissors-red.svg" %}"
    rock="{% static "img/rock-red.svg" %}"
    paper="{% static "img/paper-red.svg" %}">
    </match-control>
    <player-form-name
    v-show="name_component_shown"
    v-bind:color="color_name"
    :key="color_name"
    v-on:swap_color="on_swap_method"
    ></player-form-name>


  </div>

</div>
{% include "_app_components_template.html" %}
{% endblock content %}

{% block custom_js %}
<script src="{% static "js/app.js" %}" charset="utf-8"></script>
{% endblock %}
