/* body containers */

.game-container{
  width: 90%;
  height: 90%;
  margin: auto;
  min-width: 280px;
  min-height: 400px;
  max-width: 600px;
}
.game-description, .landing-options{
  width: 80%;
  margin: auto;
}
.game-description{
  padding: 5px;
  margin-top: 20px;
}
.landing-options{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #ede6e9;
  border-radius: 5px;
}
.landing-options > img{
  width: 30%;
  padding: 10px;
}
#player-form-name{
margin-bottom: 40px;
text-align: center;
}
.player-form-name-title{
  margin-bottom: 20px;
}
input[name="playerName"]{
  margin-bottom: 20px;
}

/* components body */
.action-buttons{
  text-align: center;
  width: 100%
}
.action-buttons > button{
  margin: auto;
}
